$color-Dark-1: hsl(227, 75%, 14%);
$color-Dark-2: hsl(226, 25%, 17%);
$color-Dark-3: hsl(225, 23%, 24%);
$color-Dark-4: hsl(226, 11%, 37%);
$color-Light-1: hsl(0, 0%, 78%);
$color-Light-2: hsl(217, 61%, 90%);
$color-Light-3: hsl(0, 0%, 93%);
$color-Light-4: hsl(200, 60%, 99%);

$color-Red-1:hsl(3, 86%, 64%);
$color-Red-2: hsl(3, 71%, 56%);
$color-Red-3: hsl(3, 77%, 44%);

$light-Gradient:linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
$dark-Gradient:linear-gradient(180deg, #040918 0%, #091540 100%);

$border-Pixel :15px;

